* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  padding: 0 10vw;
  position: relative;
}

body::after {
  content: "";
  background: url(pictures/background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  opacity: 0.4;
}

.logo {
  margin: 0 auto;
  width: 30vw;
  padding: 3vw 0 0;
  text-align: center;
}

.logo-img {
  margin: 0 auto;
  width: 30vw;
  border-radius: 5px;
  box-shadow: 10px 5px 5px black;
}

#can-spend {
  margin: 1vw auto;
  border: 3px solid;
  width: 40vw;
  padding: 1vw 0 2vw 1vw;
  font-size: 2.5vw;
  text-align: left;
  border-radius: 5px;
  box-shadow: 10px 5px 5px black;
  text-align: center;
}

.main {
  margin: 0 auto;
  border: 3px solid;
  border-radius: 5px;
  box-shadow: 10px 5px 5px black;
}

.section {
  display: flex;
  flex-direction: column;
}

.incomes-head-box {
  padding: 1vw;
  font-size: 3vw;
}

.icon2 {
  margin: 0 auto;
}

.icon {
  padding-left: 1vw;
}

.incomes-box {
  display: flex;
  flex-wrap: wrap;
}

.incomes-item {
  padding-left: 0.8vw;
  padding-bottom: 1vw;
}

.expenses-head-box {
  padding: 1vw;
  font-size: 3vw;
}

.expenses-box {
  display: flex;
  flex-wrap: wrap;
}

.expense-item {
  padding-left: 0.5vw;
  padding-bottom: 1vw;
}

.product {
  width: 35vw;
  font-size: 2vw;
  line-height: 2;
  border-radius: 5px;
  background-color: #a7a7a7;
  color: white;
}

.amount {
  width: 25vw;
  font-size: 2vw;
  line-height: 2;
  border-radius: 5px;
}
.submit-button {
  width: 10vw;
  font-size: 2vw;
  line-height: 2;
}

.incomes-math {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid;
}

.expenses-math {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid;
}

#incomes {
  font-size: 2.5vw;
  padding-top: 1vw;
  padding-left: 0.5vw;
}

.h4-sum {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#expenses {
  font-size: 2.5vw;
  padding-top: 1vw;
  padding-left: 0.5vw;
}

.li,
.li2,
.li4 {
  list-style-type: none;
  margin: 3vw;
  font-size: 3vw;
}

.edit,
.edit2,
.delete,
.done,
.done1 {
  width: 8vw;
  font-size: 2vw;
  line-height: 1.5;
}

.edit,
.edit2,
.delete,
.submit-button,
.done,
.done1 {
  background-color: #a7a7a7;
  border-radius: 5px;
  padding: 1%;
}

@media (min-width: 760px) {
  .section {
    flex-direction: row;
  }
  .incomes {
    width: 50%;
  }
  .expenses {
    width: 50%;
  }
  .product {
    width: 36vw;
  }
  .amount {
    width: 25vmin;
  }
  .incomes-head-box {
    border-right: 3px solid;
  }
  .incomes-box {
    border-right: 3px solid;
    border-bottom: 3px solid;
  }
  .expenses-head-box {
    border-left: 3px solid;
  }
  .expenses-box {
    border-left: 3px solid;
    border-bottom: 3px solid;
  }
}

@media (min-width: 960px) {
  body {
    width: 100vw;
    padding: 0 15vw;
  }
  .expenses-head-box {
    padding: 1vw;
    font-size: 2vw;
  }
  .incomes-head-box {
    padding: 1vw;
    font-size: 2vw;
  }
  .product {
    width: 250px;
    font-size: 1.5vw;
  }
  .amount {
    width: 200px;
    font-size: 1.5vw;
  }
  .submit-button {
    width: 8vw;
    font-size: 1.5vw;
    line-height: 2;
  }
  .edit,
  .edit2,
  .delete,
  .submit-button,
  .done,
  .done1 {
    font-size: 1.5vw;
    line-height: 2;
  }
  .edit:hover,
  .edit2:hover,
  .delete:hover,
  .submit-button:hover,
  .done:hover,
  .done1:hover {
    cursor: pointer;
    animation: bounce 0.2s;
  }
  @keyframes bounce {
    0%,
    20%,
    60%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }

    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
}
